.home-wrapper {
    position: relative;
    display: flex;
    width: calc(100% - 10rem);
    height: calc(100vh - 3.75rem);
    min-height: 45vw;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: width 0.1s ease-in;
    @include responsive(tablet) {
        background-size: cover;
    }

    .home-message {
        text-align: center;

        .message-box {
            color: #fff;
            line-height: 1.3;

            .message-title {
                font-size: 1.65rem;
                font-weight: 600;
            }

            .message {
                margin: 1.5rem 0;
                font-size: 1rem;
            }

            .sub-message {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }

    .home-logo {
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        width: 5%;
    }
}
