.em-tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    max-width: 20rem;
    padding: 0.25rem 0.375rem;
    font-size: $fs-small;
    color: $font-default-color;
    border: 1px solid #dbdbdb;
    border-radius: $border-radius-small;
    background-color: #ffffff;
    transition-duration: 0.1s;
    transition-property: opacity;
    white-space: pre-line;
    word-break: break-all;
    .state {
        display: flex;
        align-items: center;
        svg {
            font-size: $fs-default;
            margin-right: 0.313rem;
        }
    }
    &.active {
        display: block;
        top: 0;
        left: 0;
        z-index: 2000;
        transition-delay: 0.3s;
        cursor: pointer;
    }
}
