#signIn {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        height: 80rem;
        width: 80rem;
        top: 5%;
        right: 50%;
        transform: translateY(-50%);
        background-color: #eee;
        transition: 1.2s ease-in-out;
        border-radius: 50%;
        z-index: 6;
        @include responsive(tablet) {
            width: 100rem;
            height: 100rem;
            left: 30%;
            bottom: 65%;
            right: initial;
            top: initial;
            transform: translateX(-50%);
        }
        @include responsive(mobile) {
            left: 50%;
        }
    }

    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        min-height: 900px;
        background-color: #ffffff;

        .sign-in-container {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            @include responsive(tablet) {
                width: 100%;
            }

            .sign-in {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                width: 80%;
                transition: 0.5s 0.7s ease-in-out;
                z-index: 5;
                @include responsive(tablet) {
                    left: 50%;
                    top: 65%;
                }
                @include responsive(mobile) {
                    top: 70%;
                    width: 70%;
                }

                .form-box {
                    @include flex(center);
                    flex-direction: column;

                    .title {
                        margin-bottom: 2.5rem;
                        font-size: 2.2rem;
                        color: $font-default-color;
                    }

                    .input-field {
                        max-width: 380px;
                        width: 100%;
                        margin-bottom: 0.6rem;

                        label {
                            display: block;
                            padding-left: 0.5rem;
                            font-size: $fs-large;
                        }

                        input {
                            width: 100%;
                            margin: 0.4rem 0;
                            height: 2.625rem;
                            line-height: 1;
                            padding: 0 1rem;
                            background: rgba(247, 247, 247, 0.03);
                            border: 1px solid #f6f6f6;
                            box-sizing: border-box;
                            box-shadow: 0.125rem 0.125rem 0.25rem $box-shadow-color;
                            border-radius: 0.2rem;
                            outline: none;
                            font-size: $fs-large;
                            color: #333;

                            &::placeholder {
                                font-size: $fs-default;
                            }
                        }

                        .submit-btn {
                            width: 100%;
                            height: 2.625rem;
                            margin: 0.625rem 0;
                            background-color: #ff153c;
                            border: none;
                            outline: none;
                            border-radius: 0.2rem;
                            box-shadow: 0.125rem 0.125rem 0.25rem $box-shadow-color;
                            color: #fff;
                            font-weight: $fw-bold;
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }
                }

                .account-button {
                    display: flex;
                    justify-content: space-between;
                    max-width: 380px;
                    margin: 0 auto;
                    width: 100%;

                    button {
                        background: none;
                        font-weight: $fw-semi-bold;
                        color: #333;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .instructions-container {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        z-index: 100;
        @include responsive(tablet) {
            height: 50%;
            width: 100%;
        }

        .instructions {
            position: relative;
            width: 100%;
            height: 100%;
            padding-top: 15%;
            padding-left: 15%;
            @include responsive(tablet) {
                padding: 5% 40% 0 8%;
            }
            @include responsive(mobile) {
                padding: 8% 8% 0;
            }

            .content {
                text-align: left;
                color: #333;

                .logo-image {
                    width: auto;
                    max-height: 1.875rem;
                }

                h3 {
                    margin: 1rem 0;
                    line-height: 1.25;
                    font-size: 1.5rem;
                    font-weight: $fw-bold;
                }

                .instructions-list {
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                    @include responsive(tablet) {
                        margin-top: 1rem;
                    }

                    li {
                        position: relative;
                        margin-bottom: 0.2rem;
                        padding-left: 0.8rem;
                        line-height: 1.25;
                        font-size: $fs-large;
                        word-break: keep-all;

                        &::before {
                            position: absolute;
                            top: 0.1rem;
                            left: 0;
                            content: '*';
                        }

                        @include responsive(tablet) {
                            br {
                                display: none;
                            }
                        }
                    }
                }

                .system-administrator {
                    font-size: $fs-default;

                    span {
                        display: block;
                        margin-bottom: 0.3rem;
                    }

                    ul {
                        li {
                            line-height: 1.25;
                        }
                    }
                }
            }

            .image {
                position: absolute;
                bottom: 10%;
                right: 0;
                width: 70%;
                max-width: 500px;
                transition: transform 1.1s ease-in-out;
                transition-delay: 0.4s;
                @include responsive(tablet) {
                    top: 20%;
                    bottom: auto;
                    right: 5%;
                    width: 30%;
                    max-width: 260px;
                    transition: transform 0.9s ease-in-out;
                    transition-delay: 0.6s;
                }
                @include responsive(mobile) {
                    display: none;
                }
            }
        }
    }
}

/**
* 계정신청 하기 modal
*/
.add-modal {
    &.modal-sign-up {
        .form-box {
            width: 30rem;

            form {
                width: 100%;

                .error-message {
                    margin: 0.5rem 0.25rem 0;
                    font-size: $fs-medium;
                }

                .user-id {
                    display: block;

                    &::after {
                        @extend %clear-floats;
                    }

                    input {
                        float: left;
                        width: calc(100% - 5rem);
                    }

                    button {
                        float: right;
                        width: 4.387rem;
                        height: 2.125rem;
                        background-color: #fbfbfb;
                        border: 1px solid $default-border-color;
                        border-radius: $border-radius-medium;
                        box-shadow: 0.125rem 0.125rem 0.25rem $box-shadow-color;
                        font-size: $fs-medium;
                        cursor: pointer;

                        &:disabled {
                            background-color: #f4f4f4;
                            border: 1px solid #f4f4f4;
                            box-shadow: none;
                            color: #cccccc;
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}

/**
* 임시 비밀번호 발급 modal
*/
.add-modal {
    &.modal-temporary-password {
        .form-box {
            width: 30rem;
        }
    }
}
