@import "variables";
@import "svgs";

$font-path: "@assets/fonts";

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url(#{$font-path}/Pretendard-SemiBold.woff2) format("woff2"), url(#{$font-path}/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: url(#{$font-path}/Pretendard-Medium.woff2) format("woff2"), url(#{$font-path}/Pretendard-Medium.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url(#{$font-path}/Pretendard-Regular.woff2) format("woff2"), url(#{$font-path}/Pretendard-Regular.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pretendard";
}

body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;

    .main {
        @extend %container-wrapper;
        display: flex;
        min-height: calc(100vh - 3.75rem);
        min-width: $breakpoint-desktop;
        position: absolute;
        top: 3.75rem;
    }

    #root {
        position: relative;
        height: 100vh;
        overflow-x: auto;
        overflow-y: hidden;
    }

    #app {
        height: 100vh;
    }
}

html,
body {
    font-size: calc(14px + 0.1vw);
}

::selection {
    background-color: #f9f9f9;
    color: $primary-color;
}

button,
img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    outline: none;
    border: none;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input,
textarea {
    outline: 0;
    border: 0;
    -webkit-border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    //border: none;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #585858;
    -webkit-box-shadow: 0 0 0 0 #222222 inset;
}

.button-group {
    @include flex(center);
    width: 100%;
    margin: 1.875rem auto 0.938rem;
    button {
        height: 2.25rem;
        padding: 0 1.313rem;
    }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    height: 2.25rem;
    padding: 0.625rem;
    border: 1px solid $default-border-color;
    border-radius: $border-radius-small;
    box-sizing: border-box;
    font-size: $fs-default;
    font-weight: $fw-light;
    transition: all 0.3s linear;
    //transition: all;

    &:focus,
    &:active {
        border: 1px solid #999999;
        color: $font-default-color;
    }

    &:hover {
        border: 1px solid #999999;
    }

    &:read-only {
        background-color: #fafafa;
        border: 1px solid $default-border-color;
        color: #aaaaaa;
    }

    &::placeholder {
        color: #aaaaaa;
    }
}

textarea {
    resize: none;
    height: 5rem;
    @include scroll(inherit);
}

img {
    display: block;
    width: 100%;
}

/** table top style **/
.table-top-wrap {
    @include flex(space-between);
    margin-top: 0.625rem;

    .button-wrap {
        @include flex(center);
    }

    .table-search-wrap {
        @include flex(flex-start);
        input {
            @include responsive(tablet) {
                max-width: 10.5rem;
            }
        }
    }
}

.total-count {
    @include flex(flex-start);
    font-size: $fs-default;
}

/** search style **/
.search-wrap {
    @include flex(flex-start);

    input {
        width: auto;
        height: 1.875rem;
        padding: 0 0.625rem;
        border: 1px solid $default-border-color;
        border-radius: $border-radius-small;
        font-size: $fs-default;
        font-weight: 300;

        &::placeholder {
            font-size: $fs-small;
        }
    }

    .em-select-box {
        margin-right: 0.313rem;
    }
}

/** area-description **/
.area-description {
    margin-bottom: 0.625rem;
    padding: 0.5rem;
    font-size: $fs-small;
    background: #f9f9f9;
}

/** sub-title styles **/
.sub-title {
    @include flex(flex-start);
    margin: 1.35rem 0 0.75rem;
    font-size: $fs-large;
    font-weight: $fw-semi-bold;
}

.sub-description {
    font-size: $fs-small;
}

/**page detail styles**/
.page-detail {
    .page-detail-title {
        position: relative;
        margin-bottom: 0.625rem;
        padding: 2rem 2.5rem 1.25rem 2.5rem;

        h2 {
            font-size: $fs-extra-large;
        }

        p {
            margin-top: 0.625rem;
            font-size: $fs-default;
        }

        .no-title-close {
            cursor: pointer;
        }
    }

    .button-group {
        margin-bottom: 0;
        padding: 0 2.5rem 2.5rem 2.5rem;
    }

    .detail-title {
        @include flex(space-between);
        width: 100%;
        margin-top: 0.625rem;
        padding: 0 2.5rem;

        h4 {
            font-size: $fs-large;
        }
    }

    .detail-area {
        width: 100%;
        padding: 0 2.5rem;

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            height: 2rem;
        }

        .layer-wrapper {
            padding: 0;
        }
    }

    &.side-page-detail {
        .form-box {
            .writing-area {
                max-height: inherit;
                overflow-y: inherit;
                padding-right: 0;
            }

            .modal-title {
                padding-top: 1.25rem;

                .close {
                    top: 1.25rem;
                }
            }
        }

        .form-item {
            > p {
                width: 7rem;
            }
            > div {
                width: calc(100% - 7rem);
            }
        }

        .layer-wrapper {
            min-width: auto;
            padding: 0;

            .layer-divider {
                min-height: inherit;

                &:first-child {
                    flex: 1;
                    margin-bottom: 0;
                }

                &:nth-child(2) {
                    flex: 2.4;
                    margin-left: 1.25rem;
                }

                .divider-body {
                    .info-title {
                        margin-bottom: 0.5rem;
                        font-size: $fs-large;
                        font-weight: $fw-semi-bold;
                    }

                    .em-table {
                        flex-flow: column;

                        .em-table-head {
                            margin-top: 0;
                        }

                        .em-table-body {
                            .em-table-td {
                                &:last-child {
                                    overflow: visible;

                                    button {
                                        min-width: auto;
                                        height: 1.5rem;
                                        margin: 0;
                                        padding: 0 0.5rem;

                                        &.danger {
                                            background-color: #ffffff;
                                            border-color: #dddddd;
                                            color: #666666;

                                            &:hover {
                                                background-color: $secondary-hover-bg-color;
                                                border-color: $secondary-hover-color;
                                                color: $secondary-hover-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .type-writing {
                .table-title {
                    margin-top: 0;
                }
            }
        }
    }

    // 컨텐츠, 편성운영, PIP 메타 상세페이지 공통 스타일
    &.content-page-detail {
        .content-detail-title-area {
            @include flex(space-between);
            margin-bottom: 0.625rem;
            padding: 2rem 2.5rem 0 2.5rem;
            .content-detail-title {
                margin: 0;
                padding: 0;
            }
            .lang-pack {
                @include flex(center);
                > span {
                    margin-right: 0.625rem;
                    font-size: $fs-default;
                }
                .em-select-box {
                    width: 10rem;
                    .select-content {
                        padding: 0 0.938rem 0 0.625rem;
                    }
                    .select-option {
                        z-index: 400;
                        min-width: 10rem;
                        ul {
                            li {
                                line-height: 1.4rem;
                                &.lang-pack-modal {
                                    &:first-child {
                                        position: sticky;
                                        top: 0;
                                        height: 2rem;
                                        line-height: inherit;
                                        margin: 0;
                                        padding: 0.688rem 0.625rem 0.438rem 0.813rem;
                                        background: #fff;
                                    }
                                    &:nth-child(2) {
                                        position: sticky;
                                        top: 2rem;
                                        height: 2rem;
                                        line-height: inherit;
                                        margin-bottom: 0.25rem;
                                        background: #fff;
                                        border-bottom: 1px solid $default-border-color;
                                    }
                                }

                                &:nth-child(3) {
                                    margin-top: 0.25rem;
                                }
                            }
                        }
                    }
                    .status {
                        float: right;
                        min-width: 3rem;
                        padding: 0 0.313rem;
                        font-size: 0.6rem;
                        text-align: center;
                        border-radius: $border-radius-small;
                        &.registration-completed {
                            color: #009743;
                            background-color: #dfffed;
                        }

                        &.before-registration {
                            color: #ff153c;
                            background-color: #ffeded;
                        }

                        &.registering {
                            color: #8b5002;
                            background-color: #ffeea0;
                        }
                    }
                    .select-content {
                        @include flex(space-between);
                        height: auto;
                        line-height: 2.2rem;
                        .status {
                            line-height: 1.3rem;
                            margin-right: 0.625rem;
                            padding: 0 0.313rem;
                        }
                    }
                }

                .modify-lang-pack {
                    svg {
                        font-size: 0.45rem;
                        margin-right: 0.2rem;
                    }
                }
            }
        }
        .content-detail-title {
            position: relative;
            margin-bottom: 0.625rem;
            padding: 2rem 2.5rem 0 2.5rem;
            h2 {
                font-size: $fs-extra-large;
            }
        }
        .authority-area {
            @include flex(space-between);
            padding: 0 2.5rem;
            p {
                display: flex;
                align-items: center;
                font-size: $fs-default;
                color: $secondary-color;
                svg {
                    margin-right: 0.313rem;
                    font-size: $fs-default;
                }
            }
        }
        .detail-area {
            padding-bottom: 2.5rem;
            .form-item {
                > div {
                    > p {
                        display: flex;
                        align-items: center;
                        min-height: 2rem;
                    }
                }
            }
            .anchor-tab-box {
                + .content-area {
                    .main-title-wrap {
                        padding-top: 2rem !important;
                    }
                }
            }
            > .content-area {
                &:first-child {
                    .main-title-wrap {
                        padding-top: 1.2rem !important;
                    }
                }
            }
        }

        .content-area {
            > div {
                display: flex;
                flex-flow: wrap;
                > .sub-title {
                    width: 100%;
                }
                .form-item {
                    > p {
                        width: 10rem;
                    }
                    > div {
                        width: calc(100% - 10rem);
                        .write-area {
                            > div {
                                &:not(.divide) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .main-title-wrap,
            .sub-title-wrap {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                padding: 4.5rem 0 0.625rem;
                font-size: 0.9rem;
                .button-group {
                    margin: 0;
                    button {
                        height: 1.875rem;
                        padding: 0 0.5rem;
                    }
                }
            }
            .main-title-wrap {
                width: 100%;
            }
            .sub-title-wrap {
                width: 100%;
                align-items: center;
                margin-bottom: 0.75rem;
                padding: 0;
                .sub-title {
                    margin: 0;
                }
                .button-group {
                    margin: 0;
                }
            }
            .sub-title {
                padding-left: 0.313rem;
                font-size: $fs-default;
                font-weight: $fw-normal;
                color: #333;
            }
            .button-group {
                width: auto;
                padding: 0;
                .pip-toggle {
                    display: flex;
                    align-items: center;
                    margin-right: 1.5rem;
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0.2rem;
                        right: -0.875rem;
                        width: 0.1rem;
                        height: 1.25rem;
                        background-color: $default-border-color;
                    }
                    > span {
                        margin-right: 0.5rem;
                        font-size: $fs-default;
                        font-weight: $fw-semi-bold;
                    }
                    > button {
                        margin-left: 0.5rem;
                        margin-right: 0;
                    }
                }
            }
            .width-full {
                width: 100%;
                > div {
                    display: block;
                }
            }
            .em-table {
                .em-table-tr {
                    padding: 0;
                    .em-table-td {
                        justify-content: center;
                        border-right: 1px solid $default-border-color;
                        text-align: center;
                        &:last-child {
                            border-right: none;
                        }
                        .image-box {
                            margin: 1rem 0;
                            .image {
                                max-height: 6rem;
                            }
                        }
                        .file-wrapper {
                            padding: 1rem 0;
                        }
                    }
                    .em-checkbox-td {
                        border-right: 1px solid $default-border-color;
                    }
                    > div {
                        &:last-child {
                            &.em-checkbox-td {
                                border-right: none;
                            }
                        }
                    }
                    .ts-table-header {
                        > div {
                            &:last-child {
                                &.em-checkbox-td {
                                    border-right: none;
                                }
                            }
                        }
                    }
                }
            }
            .em-timepicker-wrapper {
                .em-select-box {
                    width: 3.8rem;
                    .select-option {
                        min-width: 3.8rem;
                    }
                }
            }
            .word {
                margin-top: 0.313rem;
                margin-left: 0.5rem;
                font-size: $fs-medium;
                text-align: right;
            }
            textarea {
                width: 100% !important;
                min-height: 15rem;
                font-size: 0.875rem;
                resize: auto;
            }
            .reset {
                position: relative;
                width: 0.85rem;
                min-width: auto;
                height: 0.85rem;
                margin-left: 0.5rem;
                padding: 0;
                background: #787878;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                &::before {
                    content: "x";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0.85rem;
                    height: 0.85rem;
                    font-weight: 400;
                    color: #fff;
                }
                &:hover {
                    background: #787878;
                }
            }
            .grade-name {
                .em-select-box {
                    width: 10rem;
                    margin-right: 0.5rem;
                    .select-option {
                        width: 10rem;
                    }
                }
            }
            .date-checkbox {
                .em-check-list {
                    width: auto;
                    margin-left: 1rem;
                }
            }
            .local-show {
                input[type="text"] {
                    max-width: 9.375rem;
                }
            }
            .show-date {
                .em-datePicker {
                    margin-right: 1rem;
                }
            }
        }

        // 이미지 추가
        .detail-image {
            .help {
                float: left;
                margin-top: 0;
            }
            .image-add-button {
                float: right;
                margin-bottom: 0.5rem;
            }
            .em-table {
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            border-right: none;
                            text-align: left;
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                justify-content: flex-start;
                            }
                            &:first-child,
                            &:nth-child(2) {
                                flex: 0.8;
                            }
                            &:nth-child(3) {
                                flex: 2.5;
                            }
                            &:nth-child(4) {
                                overflow: inherit;
                                span {
                                    white-space: inherit;
                                    overflow: inherit;
                                }
                            }
                            &:last-child {
                                flex: 0.5;
                                padding: 0.5rem 0;
                                svg {
                                    &.delete {
                                        display: flex;
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.detail-image {
                .em-table {
                    .em-table-head,
                    .em-table-body {
                        .em-table-tr {
                            .em-table-td {
                                &:last-child {
                                    flex: 1.2;
                                }
                            }
                        }
                    }
                }
            }
        }

        .write-top-area {
            @include flex(space-between);
            width: 100%;
            margin-bottom: 0.625rem;
            .button-group {
                margin: 0;
                justify-content: end;
                button {
                    height: 1.875rem;
                    padding: 0 0.5rem;
                }
            }
            .help {
                margin-top: 0;
                margin-bottom: 0.5rem;
                line-height: 1.4;
                font-size: $fs-medium;
            }
            .select-wrap {
                display: flex;
                align-items: center;
                .em-select-box {
                    margin: 0 0.25em 0 0.625rem;
                }
            }
            > .em-button {
                margin-left: 0;
            }
            &.right-button {
                justify-content: flex-end;
            }
        }
        .write-area {
            width: 100%;
        }

        .em-table {
            .em-table-tr {
                .em-table-td {
                    .management {
                        .em-button {
                            &:nth-child(2) {
                                margin-top: 0.313rem;
                            }
                        }
                    }
                }
            }
        }

        .em-select-box {
            background-color: #fff;
        }

        .epi-content,
        .synopsis {
            .button-group {
                min-width: 35%;
            }
        }

        // 키워드, 장르 리스트
        .keyword-box,
        .genre-box {
            margin-top: 0.5rem;
            padding: 1rem 1rem 0.5rem 1rem;
            border: 1px solid $default-border-color;
            border-radius: 0.313rem;

            .keyword-list,
            .genre-list {
                .keyword-item,
                .genre-item {
                    float: left;
                    display: flex;
                    align-items: center;
                    max-width: 100%;
                    margin: 0 0.5rem 0.5rem 0;
                    padding: 0.313rem 0.5rem;
                    border: 1px solid $default-border-color;
                    border-radius: 0.25rem;

                    p {
                        display: inline-block;
                        font-size: $fs-medium;
                        font-weight: $fw-semi-bold;
                        color: #222222;
                        @extend %text-overflow;
                    }

                    span {
                        margin-left: 0.313rem;
                        cursor: pointer;

                        svg {
                            font-size: $fs-default;
                            color: #cccccc;
                        }
                    }
                }

                &::after {
                    @extend %clear-floats;
                }
            }
        }
        .apple-genre-add {
            display: flex;
            align-items: center;
            .em-button {
                margin: 0 0.5rem 0 0;
                background-color: #f7f7f7;
            }
        }

        // 크리에이터/출연진
        .creator,
        .cast {
            .em-table {
                width: 70%;
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            flex: 0.5;
                            &:first-child,
                            &:nth-child(2) {
                                flex: 0.3;
                            }
                            &:nth-child(3),
                            &:nth-child(8) {
                                flex: 0.8;
                            }
                            .person-code {
                                display: flex;
                                align-items: center;
                                span {
                                    margin-right: 0.5rem;
                                    &.check {
                                        color: #009743;
                                    }
                                    &.no-local-name {
                                        color: #ff153c;
                                    }
                                }
                            }
                            .em-select-box {
                                width: 7rem;
                                .select-option {
                                    min-width: 7rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .subtitle-file,
        .voice-file {
            .em-table {
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            &:nth-child(1) {
                                flex: 0.3;
                            }
                            &:nth-child(3) {
                                flex: 2.5;
                                .em-table-data {
                                    display: flex;
                                    align-items: center;
                                    span {
                                        margin-right: 0.625rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .video-info {
            .em-table {
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            &:nth-child(3) {
                                flex: 3;
                            }
                            .em-table-data {
                                word-break: break-all;
                                white-space: inherit;
                            }
                        }
                    }
                }
            }
        }
        .drm {
            width: 60%;
        }
        .web-vtt {
            .em-table {
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            &:nth-child(1) {
                                flex: 0.5;
                            }
                            .em-table-data {
                                word-break: break-all;
                                white-space: inherit;
                            }
                        }
                    }
                }
            }
        }
        .time-stamp {
            width: 60%;
            .em-table {
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            &:first-child {
                                flex: 0.6;
                            }
                        }
                    }
                }

                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            &:first-child {
                                .em-table-data {
                                    &::after {
                                        content: "*";
                                        margin-left: 0.313rem;
                                        color: #d9534f;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .notice,
        .event {
            .em-table {
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            &:first-child,
                            &:last-child {
                                flex: 0.5;
                            }
                            &:nth-child(2) {
                                flex: 2;
                            }
                        }
                    }
                }
            }
        }

        .genre {
            width: 100%;
            .em-table {
                .em-table-head,
                .em-table-body {
                    .em-table-tr {
                        .em-table-td {
                            &:first-child {
                                flex: 0.3;
                            }
                            &:nth-child(2),
                            &:nth-child(6) {
                                flex: 0.5;
                            }
                        }
                    }
                }
            }
            &.lang-yn {
                .em-table {
                    .em-table-head,
                    .em-table-body {
                        .em-table-tr {
                            .em-table-td {
                                flex: 0.8;
                                &:first-child {
                                    flex: 0.3;
                                }
                                &:last-child {
                                    flex: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.dim-active {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.08);
    }
    > * {
        opacity: 0.3;
    }
}

/* anchor-tab style */
.anchor-tab-box {
    display: block !important;
    position: sticky;
    top: 0;
    z-index: 300;
    width: 100%;
    margin-top: -0.6rem;
    padding-top: 1.2rem;
    background: #fff;

    .anchor-tab {
        display: flex;
        padding: 0.818rem 1rem;
        background: $primary-mark-bg-color;
        border: 1px solid $primary-default-border-color;
        border-radius: 0.2rem;
        box-shadow: 2px 2px 10px 10px #fff;

        a {
            li {
                margin: 0 0.625rem;
                span {
                    text-decoration: none;
                    font-size: $fs-default;
                    font-weight: $fw-light;
                    color: #666;
                    cursor: pointer;
                }
            }
            &.active {
                span {
                    font-weight: $fw-bold;
                    color: $primary-color;
                }
            }
            &:hover {
                span {
                    color: $primary-color;
                }
            }
        }
    }
}

/* 사이드탭 + 상세 영역 */
.tab-detail {
    display: flex;
    justify-content: space-between;
    flex-flow: row !important;
    width: 100%;
    margin-top: 1rem;
    .tab-box,
    .tab-detail-cont {
        padding: 1.625rem;
        border: 1px solid #eee;
        border-radius: $border-radius-small;
    }
    .tab-box {
        width: 11rem;
        background-color: #fafafa;
        .tab {
            li {
                margin-bottom: 1rem;
                cursor: pointer;
                span {
                    font-size: $fs-large;
                    color: #666;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &.active {
                    span {
                        font-weight: $fw-bold;
                        color: #333;
                    }
                }
                &:hover {
                    span {
                        color: #222;
                    }
                }
            }
        }
    }
    .tab-detail-cont {
        width: calc(100% - 11.375rem);
        margin-left: 0.625rem;
        > div {
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .divider-header {
            p {
                // margin-bottom: 0;
                font-size: 0.9rem;
                svg {
                    font-size: 0.9rem;
                }
            }
            + p {
                margin-bottom: 0.313rem;
                font-size: 0.75rem;
                color: #999;
            }
        }
        .table-top-wrap {
            margin-top: 0;
        }
    }
}

.red-line {
    border: 1px dashed #ff153c !important;
}
